/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight:500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* flex container */
.container {
  display: flex;
  width: 90vw;
}
.panel {
  /* background image */
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;

  height: 80vh;
  border-radius: 50px;
  cursor: pointer;
  /* flex items minimaze */
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.5s ease-in;
}


/* item become maximized */
.panel.active {
  flex: 1;
}

/* all h3 */
.panel h3 {
  color: white;
  font-size: 24px;
  width: 13.5vw;
  position: absolute;
  margin: 0;
  opacity: 0;
}


/* active h3 and hovers */
.panel.active h3 {
  margin-left: 25%;
  top:50%;
  padding: 10px;
  box-shadow:white 0px 0px 70px 10px;
  border-radius: 20px;
  opacity: 1;
  transition: opacity 0.3s ease-in 0.3s;
}
.panel.active:hover{
    opacity: 0.9;
}
.panel.active h3:hover{
    background-color: white;
    color: black; ;
    box-shadow:white  0px 0px 70px 10px;

}
/* responsivness */
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  
}